<template id='main-page-template'>
<div class='container'>
    <div class='lead'>
        <span tt='intro'></span>
    </div>

    <div v-if='ready'>
        <div>
            <span tt='wiki'></span>
            <select v-model='chosen_wiki' class='form-control' @change='change_wiki' style='width:10rem;display:inline-block'>
                <option v-for='w in wikis' :value='w.name'>
                    {{w.name}} ({{w.cnt}})
                </option>
            </select>
            <span v-if='p31s.length>0' style='margin-left:1rem'>
                <span tt='p31s'></span>
                <select v-model='p31' class='form-control' @change='change_p31' style='width:20rem;display:inline-block'>
                    <option value='' tt='no_filter'></option>
                    <option v-for='p in p31s' :value='p.p31'>
                        {{p.label}} ({{p.cnt}})
                    </option>
                </select>
            </span>
            <span v-if='loading_p31s'>
                <i tt='loading'></i>
            </span>
        </div>
        <div v-if='candidates.length>0'>
            <div style='text-align:center;margin-top:0.2rem;'>
                <a v-if='offset>0' href='#' @click.prevent='set_offset(0)' tt='start'></a>
                <span v-else tt='start'></span>
                | <a v-if='offset>0' href='#' @click.prevent='set_offset(offset-limit)' tt='previous'></a>
                <span v-else tt='previous'></span>
                | {{offset+1}}-{{offset+limit>current_max?current_max:offset+limit}}
                |
                <a v-if='limit+offset<current_max' href='#' @click.prevent='set_offset(offset+limit)' tt='next'></a>
                <span v-else tt='next'></span>
                | <a v-if='offset+limit<current_max' href='#' @click.prevent='set_offset(current_max-current_max%limit)' tt='end'></a>
                <span v-else tt='end'></span>
                | <a href='#' @click.prevent='set_random_offset()' tt='random'></a>
            </div>
            <table class='table'>
                <tbody>
                    <tr v-for="c in candidates" :key="'candidate_id_'+c.id" :class='get_class(c)' :id="'cand'+c.id">
                        <td>
                            <div>
                                <a :href="'https://'+wikis[chosen_wiki].server+'/wiki/'+encodeURIComponent(c.title)" class='wikipedia' @click='activate_table_row(c.id)' target='_blank'>
                                    {{c.title.replace(/_/g,' ')}}
                                </a>
                            </div>
                            <div v-if='c.status=="TODO"'>
                                [<a :href="'https://'+wikis[chosen_wiki].server+'/w/index.php?action=edit&title='+encodeURIComponent(c.title)" class='wikipedia' target='_blank' @click='activate_table_row(c.id)' tt='edit'>
                                </a>]
                                <span v-if='is_logged_in'>
                                    [<a href='#' @click.prevent='done(c.id)' tt='done'></a>]
                                </span>
                            </div>
                            <div v-if='is_logged_in && c.status=="TODO"'>
                                [<a href='#' @click.prevent='invalidate(c.id)' tt='invalidate'></a>]
                            </div>
                            <div v-if='c.status!="TODO" && c.status!="DONE" && c.status!="IGNORE"'>{{c.status}}</div>
                        </td>
                        <td>
                            <wd-link :item='"Q"+c.q'></wd-link>
                        </td>
                        <td style='width:50%;'>
                            <div style='display:flex;'>
                                <div style='flex-grow:0;min-width:140px;margin-right:0.2rem;text-align:center'>
                                    <commons-thumbnail :filename='c.image' width='128'></commons-thumbnail>
                                </div>
                                <div style='flex-grow:1'>
                                    <div style='flex-grow:1'>
                                        <input type='text' :value='c.image.replace(/_/g," ")' style='width:100%' readonly />
                                    </div>
                                    <div style='flex-grow:1'>
                                        <input type='text' :value='"[["+file_namespace+":"+c.image.replace(/_/g," ")+"|"+thumb_key+"|]]"' style='width:100%' readonly />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div v-else>
        <span tt='loading'></span>
    </div>

</div>
</template>

<script>
'use strict';

var wikis ;

let MainPage = Vue.extend ( {
    props : [ 'wiki' , 'initial_offset' , 'initial_p31' ] ,
    data : function () { return { ready:false , wikis:{} , chosen_wiki:'' , candidates:[] , p31:'' , p31s:[] , limit:20 , offset:0 , is_logged_in:false , file_namespace:'File' , thumb_key:'thumb' , current_max:0 , loading_p31s:false } } ,
    created : function () {
        if ( typeof wikis == 'undefined' ) this.load_wikis();
        else this.fin()
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () {
         tt.updateInterface(this.$el) ;
    } ,
    methods : {
        fin : function () {
            this.wikis = wikis ;
            if ( typeof this.wiki != 'undefined' && this.wiki!='' ) {
                this.chosen_wiki = this.wiki ;
                this.current_max = wikis[this.chosen_wiki].cnt ;
                if ( this.chosen_wiki == 'dewiki' ) { this.file_namespace='Datei'; this.thumb_key='miniatur' ; }
            } else {
                this.file_namespace = 'File' ;
                this.thumb_key = 'thumb' ;
                this.current_max = 0 ;
            }
            this.load_p31s() ;
            if ( typeof this.initial_offset != 'undefined' && this.initial_offset!='' ) this.offset = this.initial_offset*1 ;
            if ( typeof this.initial_p31 != 'undefined' && this.initial_p31!='' ) this.p31 = ''+(this.initial_p31*1) ;
            if ( this.chosen_wiki != '' ) this.load_candidates() ;
            this.is_logged_in = widar.is_logged_in ;
            this.ready = true ;
        } ,
        load_p31s : function () {
            let me = this ;
            me.loading_p31s = false ;
            me.p31 = '' ;
            me.p31s = [] ;
            if ( typeof me.chosen_wiki == 'undefined' || me.chosen_wiki == '' ) return ;
            me.loading_p31s = true ;
            $.get ( './api.php' , {
                action : 'get_p31s' ,
                wiki : me.chosen_wiki
            } , function ( d ) {
                me.current_max = wikis[me.chosen_wiki].cnt ;
                let items = [] ;
                $.each ( d.data , function ( k , v ) {
                    items.push ( 'Q'+v.p31 ) ;
                    if ( me.p31 == v.p31 ) me.current_max = v.cnt ;
                } ) ;
                wd.getItemBatch ( items , function () {
                    me.loading_p31s = false ;
                    $.each ( d.data , function ( k , v ) {
                        let i = wd.getItem ( 'Q'+v.p31 ) ;
                        if ( typeof i == 'undefined' ) {
                            v.label = 'Q'+v.p31 ;
                        } else {
                            v.label = i.getLabel() ;
                        }
                    } ) ;
                    me.p31s = d.data ;
                } ) ;
            } , 'json' ) ;
        } ,
        load_candidates : function () {
            let me = this ;
            $.get ( './api.php' , {
                action : 'get_candidates' ,
                wiki : me.chosen_wiki ,
                p31_filter : this.p31 ,
                limit : me.limit ,
                offset : me.offset
            } , function ( d ) {
                me.candidates = d.data ;
            } , 'json' ) ;
        } ,
        activate_table_row : function ( id ) {
            $('tr.table-active').removeClass('table-active');
            $('#cand'+id).addClass('table-active');
        } ,
        invalidate : function ( id ) {
            this.changeStatus ( id , 'IGNORE' ) ;
        },
        done : function ( id ) {
            this.changeStatus ( id , 'DONE' ) ;
        },
        changeStatus : function ( id , new_status ) {
            let me = this ;
            if ( !widar.is_logged_in ) {
                alert ( "Not logged in" ) ;
                return ;
            }
            $.get ( './api.php' , {
                action : 'change_status',
                candidate_id : id * 1 ,
                new_status : new_status ,
                user : widar.userinfo.name
            } , function ( d ) {
                if ( d.status != 'OK' ) {
                    alert ( d.status ) ;
                    return ;
                }
                $.each ( me.candidates , function ( k , v ) {
                    if ( v.id == id ) v.status = new_status
                } ) ;
            } , 'json' )
        } ,
        change_p31 : function () {
            this.offset = 0 ;
            this.router_push(this.chosen_wiki,0,this.p31);
            //this.load_candidates() ;
        } ,
        set_offset : function ( new_offset ) {
            this.router_push(this.chosen_wiki,new_offset,this.p31);
        },
        router_push : function ( wiki = '' , offset = '' , p31 = '' ) {
            let url = '/' ;
            if ( wiki != '' ) {
                url += wiki ;
                offset *= 1 ;
                url += '/' + offset ;
                if ( p31 != '' ) url += '/' + (p31*1) ;
            }
            this.$router.push ( url );
        } ,
        set_random_offset : function () {
            let max = this.current_max ;
            let offset = max * Math.random() ;
            offset -= offset % this.limit ;
            this.set_offset ( offset ) ;
        } ,
        load_wikis : function () {
            let me = this ;
            $.get ( './api.php' , { action:'get_wikis' } , function ( d ) {
                wikis = d.data ;
                me.fin();
            } , 'json' ) ;
        } ,
        get_class : function ( candidate ) {
            if ( candidate.status == 'TODO' ) return '' ;
            if ( candidate.status == 'DONE' ) return 'table-success' ;
            if ( candidate.status == 'IGNORE' ) return 'table-warning' ;
            return 'table-danger'
        } ,
        change_wiki : function () {
            if ( this.wiki == this.chosen_wiki ) return ;
            this.router_push(this.chosen_wiki);
        }
    } ,
    template:'#main-page-template'
} ) ;
</script>
