div.thumblabel {
	font-size:8pt;
	display:inline-block;
}

ul.thumbrow {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.thumbrow li {
	position:relative;
	display: inline-block;
	overflow:hidden;
	margin-right:3px;
	padding:3px;
	border:1px solid black;
	text-align:center;
}

div.mythumb {
	display: inline-block;
	width:180px;
	height:180px;
}

.wiki_commons {
	background-color:#BAD0EF;
}

.wiki_local {
	background-color:#F7F9D0;
}

.thumbtools {
	z-index: 5;
	position: absolute;
	right: 5px;
	padding:2px;
	background-color:white;
	border:1px solid #DDDDDD;
	display:none;
	opacity: 0.8;
}

div.list_label {
	font-size:9pt;
	font-family:arial;
}

.existing_images { display:none; }
.wikidataitem { display:none; }
.candidate_images_commons { display:none; }
.article_with_existing_images { display:none; }
.has_no_candidates { display:none; }
