<link rel="stylesheet" type="text/css" href="./main.css" />
<!--<script type="text/javascript" src="/wikidata-todo/autodesc.js"></script>-->
<script src="resources/js/wikidata.js"></script>

<div class="row">
	<div style='margin-top:10px'>
		
		<div id='tusc_container_wrapper'></div>

		<form id='theform'>

			<div id='widar_note' style='margin-bottom:20px;' tt='widar_note'></div>

			<formset class="form-group">

			<div class='row' style='display:none'>
				<div class='col-sm-2' tt='wdq'></div>
				<div class='col-sm-6'><input type='text' class='span6' id='wdq' rel='tooltip' tt_placeholder='insert_wdq' /></div>
				<div class='col-sm-4'><span id='wdq2sparql' tt_title='wdq2sparql_title'><a href='#' onclick='wdq2sparql("#wdq","#sparql");return false' tt='wdq2sparql'></a></span></div>
			</div>

			<div class='row' id='sparql_container' style='display:none'>
				<div class='col-sm-2'></div>
				<div class='col-sm-6'><small tt='wdq_example'> <i tt='comma_or'></i></small></div>
			</div>
			
			
			<div class='row'>
				<div class='col-sm-2' tt='sparql'></div>
				<div class='col-sm-10' style='max-width:970px'><textarea style='width:100%' rows=2 id='sparql' tt_placeholder='sparql_placeholder' class='editor'></textarea></div>
				<div class='col-sm-2'></div>
				<div class='col-sm-6'><small tt='sparql_example'> <i tt='comma_or'></i></small></div>
			</div>
			

			<div class='row'>
				<div class='col-sm-2' tt='category'></div>
				<div class='col-sm-4'><input type='text' class='span4' id='category' rel='tooltip' tt_placeholder='category_name' /></div>
				<div class='col-sm-1' tt='depth'></div>
				<div class='col-sm-1'><input type='number' class='span1' id='depth' rel='tooltip' tt_title='depth' value='3' /></div>
				<div class='col-sm-1'><i tt='comma_or'></i></div>
			</div>
			<div class='row'>
				<div class='col-sm-2'></div>
				<div class='col-sm-10'><input type='text' class='span4' id='page_with_links' rel='tooltip' tt_placeholder='linked_from' /></div>
			</div>
			<div class='row'>
				<div class='col-sm-2'></div>
				<div class='col-sm-1' tt='on'></div>
				<div class='col-sm-2'><input type='text' class='span1' id='language' value='en' /></div>
				<div class='col-sm-4'><input type='text' class='span2' id='project' value='wikipedia' /></div>
			</div>
			<div class='row'>
				<div class='col-sm-2'></div>
				<div class='col-sm-4'><small tt='cat_example'></small> <i tt='comma_or'></i></div>
			</div>
			
			
			<div class='row' id='pagepile_wrapper'>
				<div class='col-sm-2' tt='pagepile'></div>
				<div class='col-sm-4'><input type='text' class='span2' id='pagepile' value='' /></div>
				<div class='col-sm-4'>, <i>or</i></div>
			</div>

			<div class='row' id='psid_wrapper'>
				<div class='col-sm-2'>PetScan&nbsp;ID</div>
				<div class='col-sm-4'><input type='text' class='span2' id='psid' value='' tt_placeholder='psid' /></div>
				<div class='col-sm-4'><i tt='comma_or'></i></div>
			</div>

			<div class='row' id='psid_wrapper' style='display:none'>
				<div class='col-sm-2'>WikiCandidates</div>
				<div class='col-sm-4'><input type='text' class='span2' id='wiki_candidates' value='' tt_placeholder='wiki_candidates' /></div>
				<div class='col-sm-4'><i tt='comma_or'></i></div>
			</div>

			<div class='row'>
				<div class='col-sm-2'><div tt='use_items'></div>(<a href='#' onclick='fist.fillRandom();return false' tt='random'></a>)</div>
				<div class='col-sm-10'><textarea style='width:100%' rows=2 id='itemlist' tt_placeholder='use_items_placeholder'></textarea></div>
			</div>
			
			<div class='row'>
				<div class='col-sm-2' tt='popular'></div>
				<div class='col-sm-4'><input type='text' id='popular_images' /></div>
				<div class='col-sm-6' tt='number_of_images'></div>
			</div>


			<div class='row'>
				<div class='col-sm-2' tt='options'>Options</div>
				<div class='col-sm-3'><label><input type='checkbox' id='search_language_links' checked />&nbsp;<span tt='follow_langlinks'></span></label></div>
				<div class='col-sm-3'><label tt_title='note_slow_search'><input type='checkbox' id='search_by_coordinates' />&nbsp;<span tt='search_by_coordinates'></span></label></div>
				<div class='col-sm-4'><label tt_title='note_slow_search'><input type='checkbox' id='search_commons' />&nbsp;<span tt='search_commons'></span></label></div>
			</div>

			<div class='row'>
				<div class='col-sm-2'></div>
				<div class='col-sm-3'><label><input type='checkbox' id='search_by_commons_category' />&nbsp;<span tt='search_by_commons_category'></span></label></div>
				<div class='col-sm-3'><label><input type='checkbox' id='no_images_only' checked />&nbsp;<span tt='only_without_image'></span></label></div>
				<div class='col-sm-4'><label><input type='checkbox' id='remove_used' />&nbsp;<span tt='only_not_used'></span></label></div>
			</div>

			<div class='row'>
				<div class='col-sm-2'></div>
				<div class='col-sm-4'><label><input type='checkbox' id='jpeg_only' />&nbsp;<span tt='only_jpeg'></span></label></div>
				<div class='col-sm-6'><label><input type='checkbox' id='remove_multiple' />&nbsp;<span tt='no_popular_files'></span></label></div>
			</div>

			<div class='row'>
				<div class='col-sm-2'></div>
				<div class='col-sm-4'><label><input type='checkbox' id='page_image_only' />&nbsp;<span tt='page_image_only'></span></label></div>
				<div class='col-sm-4'><label><input type='checkbox' id='keep_svg' />&nbsp;<span tt='keep_svg'></span></label></div>
			</div>


			<div class='row'>
				<div class='col-sm-2'><button id='b_run' class='btn btn-outline-primary' onclick='fist.runTool();return false' tt='run'></button></div>
				<div class='col-sm-2'><a id='permalink' style='font-weight:bold;display:none' tt='permalink'></a></div>
				<div class='col-sm-8'><span style='font-size:7pt' tt='note_slow'></span></div>
			</div>
			
			

			</formset>

		</form>

	</div>

</div>


<div class="row" id='result_container'>
	<div class="span12" id='loading' style='display:none'>
		<span class="label label-info" id='loading1'></span>
		<span class="label label-info" id='loading2'></span>
	</div>
	<div class="span12" id='results' style='display:none'></div>
</div>

